/Exercise_3D_LUT/.ipynb_checkpoints/
/InteractiveBreak_2D_LUT/.ipynb_checkpoints/
/Exercise_Arrays/.ipynb_checkpoints/InteractiveBreak_Arrays-checkpoint.ipynb
/InteractiveBreak_Filtering/.ipynb_checkpoints/
/InteractiveBreak_Kernels/.ipynb_checkpoints/
/InteractiveBreak_MorphologicalOps/.ipynb_checkpoints/
/Exercise_Arrays/.ipynb_checkpoints/
/.idea/
/Warmup_PathsSyntax/.ipynb_checkpoints/
/Exercise_InstallModulesMatplotlib/.ipynb_checkpoints/
/Warmup_PathsSyntax_2/.ipynb_checkpoints/
/Warmup_PathsSyntax_2/.ipynb_checkpoints/
/Exercise_TimeSeriesAnalysis/.ipynb_checkpoints/
/Exercise_A_Lot_Of_Dogs/.ipynb_checkpoints/
